:root {
    --header-height: 3rem;
    --nav-width: 68px;
  
    --first-color: #0d6efd;
    --first-color-alt: #fafafa;
    --white-color: #a1e4f1;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .admin a {
    text-decoration: none;
  }
  
  .admin ul {
    list-style: none;
  }
  
  .admin main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s;
  }
  
  .admin .header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 1rem;
    transition: 0.5s;
  }
  
  .admin .header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color);
  }
  
  .admin .sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
    width: var(--nav-width);
    background-color: var(--first-color);
    padding-top: 1rem;
    transition: 0.5s;
  }
  .admin .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
  }
  
  .admin .nav-logo,
  .admin .nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
  
  .admin .nav-logo {
    margin-bottom: 2rem;
  }
  
  .admin .nav-logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;
  }
  
  .admin .nav-logo-name {
    font-weight: 700;
    color: var(--white-color);
  }
  
  .admin .nav-link {
    position: relative;
    color: var(--first-color-alt);
    transition: 0.5s;
    margin-bottom: 1.5rem;
  }
  
  .admin .nav-link:hover {
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .admin .active {
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .admin .active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    width: 3px;
    background-color: var(--white-color);
    transition: 0.5s;
  }
  
  .admin .show {
    left: 0;
  }
  
  .admin .space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
  }
  
  @media screen and (min-width: 768px) {
    .admin main {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }
  
    .admin .header {
      height: calc(var(--header-height) + 1rem);
      padding-left: calc(var(--nav-width) + 2rem);
    }
  
    .admin .sidebar {
      left: 0;
      padding: 1rem 0 0 0;
    }
  
    .admin .show {
      width: calc(var(--header-height) + 156px);
    }
  
    .admin .space-toggle {
      padding-left: calc(var(--nav-width) + 188px);
    }
  }